@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
.btn {
    color: #3398B9;
}

.btn:hover {
    color: #3398B9;
    transform: scale(1.25);
    transition: .3s ease;
}

.btn:focus {
    color: #3398B9;
    box-shadow: none;
}


.card {
    border: none;
}

h1 {
    color: #E6623F;
    font-weight: 300;
    font-family: Roboto, sans-serif;
}

h3, h5, p {
    color: #565656;
    font-weight: 300;
    font-family: Roboto, sans-serif;
}
